{{ include('header.twig') }}

    <h1>Die Lagerverwaltung</h1>
    <p><a href="{{ LMHLagerAdd }}" class="btn btn-primary">Neues Lager anlegen</a></p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Lager Ort</th>
                <th scope="col">Anzahl Plätze</th>
                <th scope="col">Bearbeiten</th>
            </tr>
        </thead>
        <tbody>
            {% for item in lager %}            
                <tr>                
                    <td scope="row">{{ item.LGR_id }} </td>
                    <td>{{ item['LGR_bezeichnung'] }}</td>
                    <td>{{ item['LGR_anzahl'] }}</td>
                    <td>
                        <a href="{{ LMHLagerEdit }}{{item.LGR_id}}" class="btn btn-success">Edit</a>&nbsp;
                        <a href="{{ LMHLagerDelete }}{{item.LGR_id}}" class="btn btn-warning">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{{ include('footer.twig') }}